{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
<h1>Bienvenue dans ce blog</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus velit erat, in consequat justo tincidunt eget. Pellentesque orci enim,
        interdum ut mi eu, interdum aliquam nisi. Sed vitae ornare dolor. Nullam facilisis ullamcorper eros sit amet posuere. Sed finibus ex eros, eu semper quam fringilla id.
        Vivamus lectus libero, bibendum sed hendrerit id, mattis a tortor. Nam sed enim blandit, hendrerit tortor at, aliquet lorem. Sed mattis tortor ipsum,
        a varius nulla mattis eget. Pellentesque commodo, dui eget porttitor molestie, nisl arcu maximus tortor, eget congue turpis lorem at lacus.
        Praesent tempor dolor sit amet facilisis dignissim. Donec consectetur magna justo, vitae sollicitudin sem egestas quis. Integer vehicula, nunc et ornare efficitur,
    </p>
    <p>
        lectus arcu laoreet risus, quis pulvinar augue mauris a nibh.
        Maecenas ut ligula ut quam ornare vulputate quis accumsan nisl.
        Aenean vel ex porttitor, tempus magna ut, lobortis mauris. Nulla quis ligula at eros porta mattis eget id tortor. Pellentesque at urna risus.
        Fusce pharetra, purus eget condimentum laoreet, neque metus luctus lorem, quis blandit sem ipsum eu ipsum. Nulla facilisi. Sed non ipsum scelerisque,
        ultrices nisl ut, egestas massa. Maecenas eleifend dapibus quam, ac dignissim est. Integer quam metus, scelerisque a auctor vel, elementum at ex.
        Pellentesque cursus turpis ante, et laoreet tortor vestibulum eu. Phasellus tempus elit ac ex facilisis aliquet quis et nunc. Fusce ullamcorper
        lacinia diam, vitae laoreet augue iaculis at. In rhoncus, urna at convallis finibus, eros felis porttitor libero, id tincidunt enim nunc eu orci.
    </p>

{% endblock %}
